@model flightmvc.Models.HetalBooking

@{
    ViewData["Title"] = "BookingDetails";
    Layout = "_Layout";
}

<div class="bg-text">
    <h1>Booking Successful</h1>
    <h4>Total cost : $@ViewBag.cost</h4>
</div>
